body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(images-of-comic/drawing-illustration-monochrome-anime-girls-Neon-Genesis-Evangelion-Ayanami-Rei-line-art-cartoon-head-hand-arm-sketch-black-and-white-monochrome-photography-25591.jpg);
    background-size: cover;
    background-position: center;
}
#comic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #b98b34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    background-color: #eeeaea;
}
#comic-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
#comic-title {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Cormorant Unicase", serif;
    font-weight: 1400;
    font-style: normal;
}
#comic-date {
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
    font-family: "Cormorant Unicase", serif;
    font-weight: 1400;
    font-style: normal;
}
#comic-alt {
    color: #000000;
    text-align: center;
    font-family: "Oooh Baby", cursive;
    font-weight: 1400;
    font-size: 25px;
}